body{
  background-image: url("images/background.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: content-box;



}
#main{
  max-width: 500px;
}







