<!DOCTYPE html>
<html lang="en" ng-app="movieflix">
<head>
  <script src="angular.js"></script>
  <script src="movie.js"></script>
  <link rel="stylesheet" href="Movie.css">
    <meta charset="UTF-8">
    <title>MovieFlix</title>

</head>
<body  ng-controller="Mymovieflix as movieCntrl">
<header>
<div>
  <a class="signout box" href="">Sign Out</a>
</div>
<h1>MovieFlix</h1>
</header>
<div class="sideleft">
  <input type="text" placeholder="search" ng-model="movietitle"><br>
  Sort by<Select ng-model="sortcolumn">
  <option value="-rating">Rating</option>
  <option value="Title">Title</option>
</Select><br>
  Type<Select ng-model="sortcolumn">
  <option value="-animation">Animation</option>
  <option value="-action">Action</option>
  <option value="-realStory">Real Story</option>
  <option value="-romantic">Romantic</option>
  <option value="-comedy">comedy</option>


</Select>

</div>
<div class="main">
 <a ng-repeat="mv in movieCntrl.movie|filter:movietitle|orderBy:sortcolumn" href="{{mv.id}}">

   <img  class="Movieslide all" src="{{mv.image}}"><p class="moviename" ng-model="movie">{{mv.title}}</p>

 </a>
  </div>
</body>
</html>
