body{
  margin:0px;
}
header{
  margin:10px;
  height:90px;
}
.main {
  margin-left: 300px;
  margin-right: 10px;
  margin-top:10px;
  margin-bottom:10px;
  background-color: #00cc99;
  padding:20px;

}
.sideleft{
  background-color: #00b3ee;
  margin-left: 10px;
  margin-right: 0px;
  margin-top:10px;
  margin-bottom:10px;
  padding:20px;
  float:left;
  width:240px;
}

.Movieslide  {
  height: 300px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top:5px;
  margin-bottom:5px;
  padding:6px;
}

.all {
  box-shadow: 0 0 25px  #333;
}

.signout{
  margin:10px;
  padding:10px;
  float:right;
}

.box{
  box-shadow: 0 0 25px  #000 inset;
  border-radius:6px;
}
a:link,a:visited{
  color: #000;
  text-decoration: none;
}
a:hover{
  font-size: 18px;
}



.moviename {
  position: absolute;
  color: black;
  font-size: X-large;
  padding:10px;
  font-family:  verdana, arial;
  visibility: hidden;

}

a:hover .moviename{
  visibility: visible;
  opacity:1;
}
a:hover .Movieslide{
  opacity: 0.3;
  background-color:black;
}

